<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.review.mapper.MovieMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.review.bean.Movie" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="years" property="years" jdbcType="VARCHAR" />
    <result column="director" property="director" jdbcType="VARCHAR" />
    <result column="actor" property="actor" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="flag" property="flag"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, years, director, actor, img, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from movie
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="query" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from movie
    <where>
      flag=0
      <if test=""></if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from movie
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.review.bean.Movie" >
    insert into movie (id, type, years, 
      director, actor, img, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{years,jdbcType=VARCHAR}, 
      #{director,jdbcType=VARCHAR}, #{actor,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.review.bean.Movie" >
    insert into movie
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="years != null" >
        years,
      </if>
      <if test="director != null" >
        director,
      </if>
      <if test="actor != null" >
        actor,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="years != null" >
        #{years,jdbcType=VARCHAR},
      </if>
      <if test="director != null" >
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="actor != null" >
        #{actor,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.review.bean.Movie" >
    update movie
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="years != null" >
        years = #{years,jdbcType=VARCHAR},
      </if>
      <if test="director != null" >
        director = #{director,jdbcType=VARCHAR},
      </if>
      <if test="actor != null" >
        actor = #{actor,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.review.bean.Movie" >
    update movie
    set type = #{type,jdbcType=VARCHAR},
      years = #{years,jdbcType=VARCHAR},
      director = #{director,jdbcType=VARCHAR},
      actor = #{actor,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>